// Styling for the footer
.footer {
  padding: 25px 0;
  margin: auto;
  width: 50%;
  text-align: center;
  span.copyright {
    text-align: center;
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
}
